body {
    text-align: center;
    font-family: "Gluten", monospace;
    background-color: #212121;
    color: whitesmoke;
}

.title {
    font-size: 62px;
}

.info {
    font-size: 32px;
    list-style: none;
}

.CSharp {
    font-size: 42px;
}