body {
    text-align: center;
    font-family: "Gluten", monospace;
    background-color: #212121;
    color: whitesmoke;
}

.title {
    font-size: 62px;
}

.info {
    font-size: 28px;
    list-style: none;
}

.CSharp {
    font-size: 38px;
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    border-color: darkmagenta;
    border: 2px solid;
}

.cs1 {
    font-size: 24px;
    border-color: blueviolet;
}